.m-gift-type-nav{height: 1rem;line-height: 1rem;}
.m-gift-type-nav .m-td{position: relative; font-size: .24rem;color: #464646;text-align: center;}
.m-gift-type-nav .m-td:after{content: "";position: absolute;right: 0; top: .3rem; width: 1px;height: .4rem;background: #D8D8D8;}
.m-gift-type-nav .m-td .icon{width: .34rem;height: .34rem;margin-right: .1rem;}
.m-gift-type-nav .m-td .icon-gift1{background-image: url(../images/ic-gift-1.png);}
.m-gift-type-nav .m-td .icon-gift2{background-image: url(../images/ic-gift-2.png);}
.m-gift-type-nav .m-td .icon-gift3{background-image: url(../images/ic-gift-3.png);}
.icon-line{opacity: .8;width: 6.8rem;}

.m-title-c{margin-top: .3rem;padding-left: .3rem;}
/**/
.m-block-hot-app{padding: 0 .1rem;}
.m-block-hot-app .m-title-c{margin-bottom: 0;}
.m-block-hot-app .m-app-item-1 .u-text{width: 1.3rem;margin: .1rem auto 0; text-align: center; white-space: normal;font-size: .24rem; line-height: .28rem;height: .52rem;overflow: hidden;}
/*.m-block{padding: 0 .4rem;}*/

/* 热门大礼包 */
.m-block-hot-gift{}
.m-block-hot-gift .m-hot-gift-list{font-size: 0;padding-left: .13rem;}
.m-gift-item-h{display: inline-block;margin: 0 .17rem; width: 3.28rem;margin-bottom: .1rem;}
.m-gift-item-h a{display: block;height: 100%;}
.m-gift-item-h .img-box-wrapper{width: 3.28rem;height: 2rem;}
.m-gift-item-h .img-box-wrapper:after{content: "";position: absolute;top: 0;right: 0; display: block;width: .36rem;height: .36rem;background: transparent url(../images/ic-gift-4.png) 0 0 /100% 100%;}
.m-gift-item-h .u-text{margin-top: .1rem;font-size: .26rem;text-align: center;color: #464646;white-space: nowrap;overflow: hidden;-ms-text-overflow: ellipsis;text-overflow: ellipsis;}